body{ 
  margin: 0;
  padding: 0;
  background-color: blueviolet;
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.con{
  width: 350px;

  padding: 30px;
  background-color:white;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  align-content: center;
  
}
.i-con{
  width: 100%;
  display: flex;
  align-items: center;
  border: 2px seagreen;
  border-radius: 10px;
  overflow: hidden;

}
.cityinput{
  flex: 1;
  height: 30px;
  border: none;
  font-size:16px;
  outline: none;
  padding: 10px;
  align-items: center;
}
.ff{
  padding: 10px;
  height: 30px;
  cursor: pointer;
}
.IoIosSearch {
  margin-top: 4px;

}
.ima{
  text-align: center;
  height: 150px;
  margin-bottom: 10px;
}

.ima img{
  width: 160px;
  height: 160px;
}
.tem,
.location,
.country {
  margin-top: 5px;
  font-size: 35px;
  color: black;
  text-transform: uppercase;
  text-align: center;
}
.temp{
  font-weight: 500;
}
.country{

  font-size: 18px;
  color: rgb(0, 255, 85);
  font-weight: 500;
}
.location{
  color: rgb(14, 1, 7);
  font-weight: 400;
  font-size: 40px;
}
.cord{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  text-align: center;
}
.cord div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.cord div span{
  font-size: 14px;
}
.humidity-percent,
.wind-percent,
.cord div span:nth-child(2){
  font-size: 14px;
  color: brown;
  padding-top: 5px;
}
.data-con{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.element{
  text-align: center;

}
.icon{
  height:50px ;
  width: 50px;
}
.text{
  font-size: 20px;
  color: rgb(20, 20, 1);
}
.copyright{
  text-align: center;
  font-size: 20px;
  
}
.city-not-found,.loading-message.error-message{
  margin-top: 10px;
  color: black;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}